<app-button
  buttonText="Start Stream"
  (buttonClicked)="startStream()"
></app-button>
<app-button
  buttonText="Stop Stream"
  (buttonClicked)="onStopVideo()"
></app-button>
<div class="base-container">
  <div class="streams-container">
    <ng-container *ngIf="isStreamActive$ | async; else noStream">
      <div class="d-flex justify-content-around">
        <div class="stream-container">
          <img [src]="streamUrl" alt="Video Stream" />
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noStream>
  <div class="loader-container">
    <app-loader></app-loader>
    <p>No active stream available.</p>
  </div>
</ng-template>
